.font-face-gm {
  font-family: "Airstream";
}

.fade-correct {
  animation: fade-in-keyframes 1s;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  animation-timing-function: ease-out;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@keyframes fade-in-keyframes {
  0% {
    background: rgba(255, 255, 255, 0.05);
    transform: translate3d(0, 2px, 0);
  }

  30% {
    transform: translate3d(0, -2px, 0);
  }

  50% {
    background-color: rgb(0, 153, 0);
  }
  60% {
    transform: translate3d(0, 2px, 0);
  }

  100% {
    background: rgba(255, 255, 255, 0.05);
    transform: translate3d(0, 0, 0);
  }
}

.fade-wrong {
  animation: fade-wrong-keyframes 1s;

  animation-timing-function: ease-out;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);

  border: 1px solid rgba(255, 255, 255, 0.18);
}
@keyframes fade-wrong-keyframes {
  0% {
    background: rgba(255, 255, 255, 0.05);
  }

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  50% {
    transform: translate3d(-4px, 0, 0);
    background-color: red;
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }

  100% {
    background: rgba(255, 255, 255, 0.05);
  }
}

.card-correct {
  animation-timing-function: ease-out;
}
@keyframes card-correct-keyframes {
  0% {
    background-color: white;
  }

  50% {
    background-color: rgb(0, 153, 0);
  }

  100% {
    background-color: white;
  }
}

.card-incorrect {
  animation-timing-function: ease-out;
}

.card-correct::after {
  content: "";
  position: absolute;
  top: 1%;
  left: 2%;
  width: 96.5%;
  height: 98%;
  background-color: green;
  border-radius: 0.9rem;
  opacity: 0;
  mix-blend-mode: multiply;
  animation: card-transition-keyframes 1s;
}
.card-incorrect::after {
  content: "";
  position: absolute;
  top: 1%;
  left: 2%;
  width: 96.5%;
  height: 98%;
  background-color: #a70c0c;
  border-radius: 0.9rem;
  opacity: 0;
  mix-blend-mode: multiply;
  animation: card-transition-keyframes 1s;
}
@keyframes card-transition-keyframes {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.box {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-cont {
  animation: bounce 3s infinite;
  box-shadow: 0px 80px 80px -45px rgba(0, 0, 0, 1);
  font-family: "Rye", cursive !important;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(2%);
    animationtimingfunction: cubic-bezier(0.5, 0, 1, 1);
  }
  50% {
    transform: translateY(0);

    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

.neonText {
  color: #fff;
  font-family: "Rye", cursive;
  /* font-size: 24px !important; */

  text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
    0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
}

.chord-box {
  width: 11.5vw !important;
  height: 11.5vw !important;
  max-width: 50px;
  max-height: 50px;
}

.flash-card {
  height: 45vh;
  width: calc(45vh * 0.68);
  background-image: url("./Card.png") !important;
  background-repeat: repeat/no-repeat;
  background-size: calc(45vh * 0.68) 45vh;
}

.cardText {
  mix-blend-mode:multiply;
  color: gray;
  color: #36454f;
  /* opacity: .88; */
} 

.settingsHeader {
  font-family: "Rye", cursive;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
